[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "<1.16.*"
nltk = "*"
gensim = "*"
matplotlib = "*"
sklearn = "*"
bs4 = "*"
sec-edgar-downloader = "*"

[requires]
python_version = "3.7"
